# Игнорируем виртуальное окружение
venv/
.env/

# Игнорируем кэш Python
__pycache__/
*.py[cod]

# Игнорируем логи и временные файлы
*.log
*.tmp

# Игнорируем IDE-специфичные файлы
.vscode/
.idea/

# Игнорируем системные файлы
.DS_Store (macOS)
Thumbs.db (Windows)

# Игнорируем файлы конфигурации
*.ini
*.cfg

# игнорируем allure логи reports
allure-results/
allure-report/
# игнорируем файлы с данными
data/
# игнорируем файлы с отчетами
reports/
